@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-color: #fff;
}

.banner {
  width: 100%;
  height: 815px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.banner__content {
  width: 1071px;
  height: 225px;
  border-radius: 11px;
  background-color: #0099bd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 15px;
}

.content_main {
  width: 220px;
  height: 120px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  transition: 0.2s linear;
  cursor: pointer;
  text-decoration: none;
}
.content_main:hover {
  transform: scale(1.03);
  background: #e6b441;
}
.content_main .icon {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content_main .icon img, .content_main .icon svg {
  width: 50px;
  height: 100%;
}
.content_main span {
  width: 100%;
  height: 50%;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: #00606e;
}

@media screen and (max-width: 939px) {
  .banner__content {
    height: 280px;
  }

  .content_main {
    width: 35%;
  }
}
@media screen and (max-width: 769px) {
  .banner__content {
    width: 95%;
    height: 280px;
  }

  .content_main {
    width: 35%;
    height: 120px;
  }
}
@media screen and (max-width: 568px) {
  .content_main .icon img, .content_main .icon svg {
    width: 30%;
    height: 90%;
  }

  .content_main span {
    font-size: 15px;
  }
}
@media screen and (max-width: 467px) {
  .content_main {
    width: 40%;
  }

  .content_main .icon img, .content_main .icon svg {
    width: 35%;
  }
}
.muc_gia {
  width: 100%;
  margin: auto;
  background: #f5f5f3;
}
.muc_gia_content {
  width: 100%;
}
.muc_gia_main {
  width: 100%;
  padding-bottom: 20px;
}
.muc_gia_main:last-child {
  padding-top: 20px;
  background: #fff;
}
.muc_gia_main > span {
  padding-left: 100px;
  font-size: 30px;
  font-weight: bold;
  color: #00606e;
  max-width: 960px;
  margin: auto;
  display: block;
}
.muc_gia_main_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 960px;
  margin: auto;
  margin-top: 20px;
}
.muc_gia_main_box .box {
  width: 100%;
  background: #fff;
  height: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 15px 15px;
  box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.5);
}
.muc_gia_main_box .box::before {
  content: "";
  position: absolute;
  top: -58%;
  left: -105%;
  transform: translate(50%, 50%);
  width: 150%;
  height: 200px;
  background: #00606e;
  border-radius: 50%;
}
.muc_gia_main_box .box h3 {
  font-size: 33px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 30%;
  z-index: 2;
  line-height: 33px;
}
.muc_gia_main_box .box ul {
  width: 100%;
  height: 55%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px 0px;
}
.muc_gia_main_box .box ul p {
  color: #00606e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
.muc_gia_main_box .box ul li {
  display: block;
  padding-left: 30px;
}
.muc_gia_main_box .box ul li a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 15px;
}
.muc_gia_main_box .box ul li a svg {
  width: 13px;
  height: 13px;
}
.muc_gia_main_box .box ul li a span {
  font-size: 14px;
  color: #111;
}
.muc_gia_main_box .box button {
  width: 100%;
  height: 48px;
  margin: auto;
  background: #c79816;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.cap {
  max-width: 960px;
  width: 100%;
  padding: 10px 0px;
  padding-left: 100px;
  margin: auto;
}
.cap span:first-child {
  font-size: 47px;
  color: #00606e;
  font-weight: bold;
  position: relative;
}
.cap span:first-child:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: #e6b441;
  width: 100%;
  height: 3px;
}
.cap span:last-child {
  font-size: 30px;
  color: #00606e;
  font-weight: bold;
  padding-left: 10px;
}

@media screen and (max-width: 769px) {
  .muc_gia {
    padding: 20px 0px;
  }

  .cap span:first-child {
    font-size: 44px;
  }

  .cap span:last-child, .muc_gia_main > span {
    font-size: 27px;
  }

  .muc_gia_main_box {
    width: 95%;
  }

  .muc_gia_main_box .box {
    height: 320px;
    padding: 10px;
  }

  .muc_gia_main_box .box::before {
    content: "";
    position: absolute;
    top: -60%;
    left: -95%;
    transform: translate(50%, 50%);
    width: 140%;
    height: 180px;
    background: #00606e;
    border-radius: 50%;
  }

  .muc_gia_main_box .box h3 {
    font-size: 30px;
    height: 25%;
  }

  .muc_gia_main_box .box ul li {
    padding-left: 10px;
  }

  .muc_gia_main_box .box ul li a {
    gap: 0px 5px;
  }

  .muc_gia_main_box .box button {
    height: 45px;
  }

  .muc_gia_main_box .box ul {
    height: 59%;
  }
}
@media screen and (max-width: 699px) {
  .muc_gia_main_box {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    grid-gap: 20px;
  }

  .muc_gia_main_box .box {
    height: 350px;
  }

  .muc_gia_main_box .box::before {
    content: "";
    position: absolute;
    top: -58%;
    left: -105%;
    transform: translate(50%, 50%);
    width: 150%;
    height: 200px;
    background: #00606e;
    border-radius: 50%;
  }

  .muc_gia_main_box .box h3 {
    font-size: 33px;
    height: 30%;
  }

  .muc_gia_main_box .box ul {
    height: 56%;
  }

  .muc_gia_main_box .box ul p {
    font-size: 20px;
  }

  .muc_gia_main_box .box ul li {
    padding-left: 30px;
  }

  .muc_gia_main_box .box ul li a span {
    font-size: 17px;
  }
}
@media screen and (max-width: 568px) {
  .cap {
    padding: 0px 20px;
  }

  .muc_gia_main > span {
    padding-left: 20px;
  }

  .muc_gia_main_box {
    width: 90%;
  }

  .cap span:last-child, .muc_gia_main > span {
    font-size: 25px;
  }

  .cap span:first-child {
    font-size: 40px;
  }
}
@media screen and (max-width: 467px) {
  .muc_gia_main_box .box {
    height: 320px;
  }

  .cap span:last-child, .muc_gia_main > span {
    font-size: 22px;
  }

  .muc_gia_main_box .box ul li {
    padding-left: 15px;
  }

  .muc_gia_main_box .box h3 {
    font-size: 30px;
    height: 29%;
  }

  .muc_gia_main_box .box::before {
    content: "";
    position: absolute;
    top: -55%;
    left: -95%;
    transform: translate(50%, 50%);
    width: 140%;
    height: 180px;
    background: #00606e;
    border-radius: 50%;
  }

  .muc_gia_main_box .box ul li a span {
    font-size: 15px;
  }

  .muc_gia_main_box .box ul p {
    font-size: 18px;
  }
}
.cau_hoi {
  padding: 20px 0px;
  width: 100%;
  background: #f5f5f3;
}
.cau_hoi_main {
  margin-top: 20px;
  max-width: 960px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px 0px;
}

.collapse {
  max-width: 830px;
  width: 100%;
  margin: auto;
}
.collapse:nth-child(8), .collapse:nth-child(9), .collapse:nth-child(10), .collapse:nth-child(11) {
  display: none;
}
.collapse .col_cap, .collapse .col_cap_dk {
  background: linear-gradient(to right, #ffd333, #e6b441);
}
.collapse .col_cap span, .collapse .col_cap_dk span {
  cursor: pointer;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 40px;
  color: #043f59;
  font-weight: bold;
}
.collapse .col_cap span ion-icon, .collapse .col_cap_dk span ion-icon {
  font-size: 30px;
  font-weight: normal;
}
.collapse .col_cap:hover, .collapse .col_cap_dk:hover {
  background: #ffe27f;
}
.collapse .blue {
  background: #bcfff7;
}
.collapse .blue:hover {
  background: #bcfff7;
}
.collapse .col_main {
  width: 100%;
  max-height: 0px;
  background: #fff;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.collapse .col_main p, .collapse .col_main a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #111;
  line-height: 25px;
  padding: 20px 40px;
  display: block;
}
.collapse .col_main p a, .collapse .col_main a a {
  text-decoration: underline;
  font-weight: bold;
  color: #111;
  padding: 0px;
}

.down {
  color: #f5f5f3;
  font-size: 40px;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: -40px;
  animation: down 0.5s linear infinite alternate;
  cursor: pointer;
}

@keyframes down {
  0% {
    transform: translateY(-5px);
  }
  0% {
    transform: translateY(5px);
  }
}
.dieu_khoan {
  padding: 20px 0px;
}

.dk_col {
  border: 1px solid #e6b441;
}

@media screen and (max-width: 769px) {
  .cau_hoi_main {
    width: 95%;
  }

  .collapse .col_cap span, .collapse .col_cap_dk span {
    padding: 8px 20px;
    height: auto;
    font-size: 14px;
  }

  .dieu_khoan {
    width: 95%;
    padding: 20px 0px;
    margin: auto;
  }

  .collapse .col_cap span ion-icon, .collapse .col_cap_dk span ion-icon {
    font-size: 25px;
  }

  .collapse .col_main p, .collapse .col_main a {
    font-size: 14px;
    padding: 20px;
  }
}
@media screen and (max-width: 601px) {
  .cap {
    padding-left: 20px;
  }

  .cap span:last-child, .muc_gia_main > span {
    font-size: 25px;
  }

  .cap span:first-child {
    font-size: 40px;
  }

  .collapse .col_cap span ion-icon, .collapse .col_cap_dk span ion-icon {
    font-size: 20px;
  }

  .collapse .col_cap span, .collapse .col_cap_dk span {
    padding: 5px 10px;
    height: auto;
    font-size: 13px;
  }
}
@media screen and (max-width: 467px) {
  .cap {
    padding: 0px 20px;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
