.banner{
    width:100%;
    height:815px;
    background-image:  url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include display(center, flex-end);
    &__content{
        width: 1071px;
        height: 225px;
        border-radius: 11px;
        background-color: #0099bd;
        @include display(center,center);
        gap: 0px 15px;
    }
}
.content_main{
    width:220px;
    height:120px;
    background:$white;
    border-radius: 20px;
    @include display(center,center);
    flex-direction: column;
    padding: 5px;
    transition: 0.2s linear;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        transform: scale(1.03);
        background:$yellow;
    }
    .icon{
        width:100%;
        height:50%;
        @include display(center,center);
        img, svg{
            width:50px;
            height:100%;
        }
    }
    span{
        width:100%;
        height:50%;
        font-size: 17px;
        font-weight: bold;
        @include display(center,center);
        text-align: center;
        color: $bluedark;
        
    }
}
@media screen and (max-width:939px) {
    .banner__content{
        height:280px;
    }
    .content_main{
        width:35%;
    }
}
@media screen and (max-width: 769px) {
    .banner__content{
        width:95%;
        height:280px;
    }
    .content_main{
        width:35%;
        height:120px;
    }
}
@media screen and (max-width:568px) {
    .content_main .icon img, .content_main .icon svg{
        width:30%;
        height:90%;
    }
    .content_main span{
        font-size: 15px;
    }
}
@media screen and (max-width:467px) {
    .content_main{
        width:40%;
    }
    .content_main .icon img, .content_main .icon svg{
        width:35%;
    }
}