@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$white: #fff;
$black: #111;
$darkcyan: #107d91;
$yellow: #e6b441;
$gold: #ffd333;
$bluedark: #00606e;
$btn: #c79816;
$whitesmoke: #f5f5f3;

@mixin display ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 body{
    font-family: 'Open Sans', sans-serif;
    width:100%;
    background-color: $white;
 }