.cau_hoi{
    padding:20px 0px;
    width: 100%;
    background: $whitesmoke;
    &_main{
        margin-top:20px;
        max-width: 960px;
        width:100%;
        margin:auto;
        @include display(flex-start, flex-start);
        flex-direction: column;
        gap:15px 0px;
    }
}
.collapse{
    max-width: 830px;
    width:100%;
    margin:auto;
    &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11){
        display: none;
    }
    .col_cap, .col_cap_dk{
        background: linear-gradient(to right, $gold, $yellow);
        span{
            cursor: pointer;
            width:100%;
            height:40px;
            @include display(space-between, center);
            padding:0px 40px;
            
            color:#043f59;
            font-weight: bold;
            ion-icon{
                font-size: 30px;
                font-weight: normal;
            }
        }
        &:hover{
            background:#ffe27f;
        }
    }
    .blue{
        background: #bcfff7;
        &:hover{
            background:#bcfff7;
        }
    }
    .col_main{
        width:100%;
        max-height: 0px;
        background: $white;
        overflow: hidden;
        transition: max-height 0.3s linear;
        p, a{
            width:100%;
            height:100%;
            text-decoration: none;
            color:$black;
            line-height: 25px;
            padding: 20px 40px;
            display: block;
            a{
                text-decoration: underline;
                font-weight: bold;
                color:$black;
                padding:0px;
            }
        }
    }
    
}
.down{
    color:$whitesmoke;
    font-size: 40px;
    display: block;
    text-align: center;
    margin:auto;
    margin-top:-40px;
    animation: down 0.5s linear infinite alternate;
    cursor: pointer;
}
@keyframes down {
    0%{
        transform: translateY(-5px);
    }
    0%{
        transform: translateY(5px);
    }
}

.dieu_khoan{
    padding:20px 0px;
}
.dk_col{
    border:1px solid $yellow;
}
@media screen and (max-width: 769px) {
    .cau_hoi_main{
        width:95%;
    }
    .collapse .col_cap span, .collapse .col_cap_dk span{
        padding:8px 20px;
        height:auto;
        font-size: 14px;
    }
    .dieu_khoan {
        width: 95%;
        padding: 20px 0px;
        margin: auto;
    }
    .collapse .col_cap span ion-icon, .collapse .col_cap_dk span ion-icon{
        font-size: 25px;
    }
    .collapse .col_main p, .collapse .col_main a{
        font-size: 14px;
        padding:20px;
    }
}
@media screen and (max-width: 601px) {
    .cap{
        padding-left:20px;
    }
    .cap span:last-child, .muc_gia_main > span{
        font-size: 25px;
    }
    .cap span:first-child {
        font-size: 40px;
    }
    .collapse .col_cap span ion-icon, .collapse .col_cap_dk span ion-icon {
        font-size: 20px;
    }
    .collapse .col_cap span, .collapse .col_cap_dk span {
        padding: 5px 10px;
        height: auto;
        font-size: 13px;
    }
}
@media screen and (max-width: 467px) {
    .cap {
        padding: 0px 20px;
        margin-bottom: 20px;
    }
}
