.muc_gia{
    width:100%;
    margin:auto;
    background: $whitesmoke;
    
    &_content{
        width:100%;
    }
    &_main{
        width:100%;
        padding-bottom: 20px;
        &:last-child{
            padding-top:20px;
            background: $white;;
        }
        & > span{
            padding-left:100px;
            font-size: 30px;
            font-weight: bold;
            color: $bluedark;
            max-width: 960px;
            margin:auto;
            display: block;
            
        }
        &_box{
            width:100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            max-width: 960px;
            margin:auto;
            margin-top:20px;
            .box{
                width:100%;
                background:$white;
                height: 360px;
                @include display(flex-start, flex-start);
                flex-direction: column;
                position: relative;
                overflow: hidden;
                padding:15px 15px;
                box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.5);
                &::before{
                    content: '';
                    position: absolute;
                    top:-58%;
                    left:-105%;
                    transform: translate(50%, 50%);
                    width:150%;
                    height: 200px;
                    background: $bluedark;
                    border-radius: 50%;
                }
                h3{
                    font-size: 33px;
                    font-weight: bold;
                    color:$white;
                    text-align: center;
                    width:100%;
                    height:30%;
                    z-index: 2;
                    line-height: 33px;
                }
                
                ul{
                    width:100%;
                    height:55%;
                    list-style: none;
                    @include display(flex-start,flex-start);
                    flex-direction: column;
                    gap:10px 0px;
                    p{
                        color:$bluedark;
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                        width:100%;
                        margin-bottom: 5px;;
                    }
                    li{
                        display: block;
                        padding-left:30px;
                        a{
                            text-decoration: none;
                            @include display(flex-start, center);
                            gap:0px 15px;
                            svg{
                                width:13px;
                                height:13px;
                            }
                            span{
                                font-size: 14px;
                                color:$black;
                            }
                        }
                    }
                }
                button{
                    width: 100%;
                    height:48px;
                    margin:auto;
                    background:$btn;
                    color:$white;
                    @include display(center,center);
                    font-size: 14px;
                    font-weight: bold;
                    border:none;
                    outline: none;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
    }
}

.cap{
    max-width: 960px;
    width:100%;
    padding: 10px 0px;
    padding-left:100px;
    margin:auto;
    
    span{
        &:first-child{
            font-size: 47px;
            color:$bluedark;
            font-weight: bold;
            position: relative;
            &:before{
                content:"";
                position: absolute;
                top:0px;
                left:0px;
                background: $yellow;
                width:100%;
                height:3px;
            }
        }
        &:last-child{
            font-size: 30px;
            color:$bluedark;
            font-weight: bold;
            padding-left:10px;
        }
    }
}
@media screen and (max-width:769px) {
    .muc_gia {
        padding:20px 0px;
    }
    .cap span:first-child{
        font-size: 44px;
    }
    .cap span:last-child, .muc_gia_main > span{
        font-size: 27px;
    }
    .muc_gia_main_box{
        width:95%;
    }
    .muc_gia_main_box .box{
        height:320px;
        padding:10px;
    }
    .muc_gia_main_box .box::before {
        content: "";
        position: absolute;
        top: -60%;
        left: -95%;
        transform: translate(50%, 50%);
        width: 140%;
        height: 180px;
        background: #00606e;
        border-radius: 50%;
    }
    .muc_gia_main_box .box h3{
        font-size: 30px;
        height:25%
    }
    .muc_gia_main_box .box ul li{
        padding-left:10px;
    }
    .muc_gia_main_box .box ul li a{
        gap:0px 5px;
    }
    .muc_gia_main_box .box button{
        height: 45px;
    }
    .muc_gia_main_box .box ul{
        height:59%;
    }
}
@media screen and (max-width: 699px) {
    .muc_gia_main_box{
        grid-template-columns:repeat(2, 1fr);
        width:80%;
        grid-gap:20px;
    }
    .muc_gia_main_box .box{
        height:350px;
    }
    .muc_gia_main_box .box::before {
        content: '';
                    position: absolute;
                    top:-58%;
                    left:-105%;
                    transform: translate(50%, 50%);
                    width:150%;
                    height: 200px;
                    background: $bluedark;
                    border-radius: 50%;
    }
    .muc_gia_main_box .box h3{
        font-size: 33px;
        height:30%
    }
    .muc_gia_main_box .box ul{
        height:56%;
    }
    .muc_gia_main_box .box ul p{
        font-size: 20px;
    }
    .muc_gia_main_box .box ul li{
        padding-left:30px;
    }
    .muc_gia_main_box .box ul li a span{
        font-size: 17px;
    }
}
@media screen and (max-width: 568px) {
    .cap{
        padding:0px 20px;
    }
    .muc_gia_main > span{
        padding-left:20px;
    }
    .muc_gia_main_box{
        width:90%;
    }
    .cap span:last-child, .muc_gia_main > span{
        font-size: 25px;
    }
    .cap span:first-child{
        font-size: 40px;
    }
}
@media screen and (max-width: 467px) {
    .muc_gia_main_box .box{
        height:320px;
    }
    .cap span:last-child, .muc_gia_main > span{
        font-size: 22px;
    }
    .muc_gia_main_box .box ul li{
        padding-left:15px;
    }
    .muc_gia_main_box .box h3 {
        font-size: 30px;
        height: 29%;
    }
    .muc_gia_main_box .box::before {
        content: "";
        position: absolute;
        top: -55%;
        left: -95%;
        transform: translate(50%, 50%);
        width: 140%;
        height: 180px;
        background: #00606e;
        border-radius: 50%;
    }
    .muc_gia_main_box .box ul li a span {
        font-size: 15px;
    }
    .muc_gia_main_box .box ul p {
        font-size: 18px;
    }
}